@use 'src/styles/vars';

.navbar-mobile {
  z-index: 2;

  position: relative;
  font-size: 20px; // FontAwesome Icon Size

  width: 100%;

  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: vars.$bgd-footer-color;

  padding: 0.8rem 1.8rem;

  .menu-burger {

    .barre {
      position: absolute;
      width: 1rem;
      height: 0.2rem;
      border-radius: 3px;
      background-color: #CACACA;
      transition: 0.3s;
      bottom: 1.45rem;
      right: 25px;

      &:before {
        position: absolute;
        content: "";
        width: 1rem;
        height: 0.2rem;
        border-radius: 3px;
        background-color: #CACACA;
        transform: translateY(-0.4rem);
        transition: 0.3s;
      }

      &:after {
        position: absolute;
        content: "";
        width: 1rem;
        height: 0.2rem;
        border-radius: 3px;
        background-color: #CACACA;
        transform: translateY(0.4rem);
        transition: 0.3s;
      }

      
    }

    &.menu-burger--active{
      .barre {
        background-color: #cacaca00;
        transform: rotate(180deg);
        width: 1.3rem;
        height: 0.25rem;
      }

      :after {
        background-color: #CACACA;
        transform: rotate(-45deg);
        width: 1.3rem;
        height: 0.25rem;
      }

      :before {
        background-color: #CACACA;
        transform: rotate(45deg);
        width: 1.3rem;
        height: 0.25rem;
      }
    }
  }

  .faUserAlt {
    color: #CACACA;
  }
  
  .navbar_link--active {
    .faUserAlt {
      color: vars.$bgd-primary-color;
    }
  }
}




@media only screen and (min-width: 599px) {
  .navbar-mobile {
    font-size: 46px; // FontAwesome Icon Size

    background-color: vars.$bgd-footer-color;
  
    padding: 1.2rem 6rem;

    .menu-burger {
    
      .barre {
        width: 2.5rem;
        height: 0.43rem;
        bottom: 2.6rem;
        right: 6rem;
    
        &:before {
          width: 2.5rem;
          height: 0.43rem;
          transform: translateY(-0.8rem);
        }
    
        &:after {
          width: 2.5rem;
          height: 0.43rem;
          transform: translateY(0.8rem);
        }
    
        
      }
    
      &.menu-burger--active{
        .barre {
          height: 0.47rem;
          width: 2.7rem;
        }
    
        :after {
          height: 0.47rem;
          width: 2.7rem;
        }
    
        :before {
          height: 0.47rem;
          width: 2.7rem;
        }
      }
    }
  }
}



