.home-page {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 2fr 4fr 0.5fr;
  background-image: url('../../assets/image/backgrounds/emailconfirmation-markus-spiske-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
