// === IMPORT CSS ===
@use 'src/styles/vars';

.myseeds {
  height: 100%;
  background-image: url('../../assets/image/backgrounds/myseeds-francesco-gallarotti-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.myseeds .footer-desktop {
  position: fixed;
  bottom: 0;
}
