.form-seed {
  padding-bottom: 2rem;
  position: relative;
}

.form-seed h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 4rem 2rem 2rem;
}

.form-seed .confirm-seed-created-msg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 0.8rem;
  color: #06a106;
  border: 2px solid #078b07;
  border-radius: 10px;
}

.form-seed .error-seed-create-msg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 0.8rem;
  color: #a10b06;
  border: 2px solid #a10b06;
  border-radius: 10px;
}

.form-seed form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-seed form .link-to-connexion span {
  display: block;
  text-align: center;
  margin-right: 0.4rem;
  text-decoration: underline;
  font-size: 1.2rem;
  color: #62923b;
  font-weight: bold;
}

.form-seed form .link-to-connexion span:hover {
  color: #153ab4;
}

.form-seed form .fields-zone {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "A" "B" "C" "D";
  gap: 2rem;
}

.form-seed form .fields-zone textarea {
  padding: 0.6rem;
  resize: none;
  width: 100%;
}

.form-seed form .fields-zone .input {
  margin: auto;
  padding: 0.6rem;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: B;
}

.form-seed form .fields-zone .categories-filter {
  margin: auto;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: A;
}

.form-seed form .fields-zone .description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: C;
}

.form-seed form .fields-zone .conseil {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: D;
}

.form-seed form button {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  background-color: #4b7e22;
  color: white;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-seed form button:hover {
  background-color: white;
  color: #4b7e22;
  border: 2px solid #4b7e22;
  text-decoration: underline;
}

.form-seed .fake-footer {
  height: 50px;
  width: 100%;
}

@media only screen and (min-width: 599px) {
  .form-seed h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 4rem 2rem 2rem;
  }
  .form-seed form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-seed form .fields-zone {
    padding: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "A B" "C D";
    gap: 2rem 4rem;
  }
  .form-seed form .fields-zone .input {
    width: 300px;
  }
  .form-seed form .fields-zone .categories-filter {
    width: 300px;
  }
  .form-seed form button {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.6rem 1rem;
    background-color: #4b7e22;
    color: white;
    border-radius: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .form-seed form button:hover {
    background-color: white;
    color: #4b7e22;
    border: 2px solid #4b7e22;
    text-decoration: underline;
  }
}
/*# sourceMappingURL=styles.css.map */