// === IMPORT CSS ===
@use 'src/styles/vars';

.form-seed {
  padding-bottom: 2rem;
  position: relative;

  h3 {
    font-size: vars.$page-title-desktop;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    margin-top: vars.$page-title-mag-top;
    margin-bottom: 1.5rem;
    color: vars.$text-primary-color;
  }

  .confirm-seed-created-msg {
    width: fit-content;
    margin: auto;
    padding: 0.8rem;
    color: vars.$bg-validate-color;
    border: 2px solid vars.$bg-validate-color;
    border-radius: 10px;
  }

  .error-seed-create-msg {
    width: fit-content;
    margin: auto;
    padding: 0.8rem;
    color: vars.$bg-delete-color;
    border: 2px solid vars.$bg-delete-color;
    border-radius: 10px;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .link-to-connexion {
      color: vars.$link-before-hover-color;
      padding: 0.9rem;
      border-radius: 10px;

      span {
        padding: 10px;
        display: block;
        text-align: center;
        margin-right: 0.4rem;
        text-decoration: underline;
        font-size: 1.2rem;
        font-weight: bold;
        color: vars.$link-before-hover-color;
      }

      span:hover {
        color: vars.$link-hover-color;
      }
    }

    .fields-zone {
      padding: 1rem 2rem 2rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "A"
        "B"
        "C"
        "D";

      gap: 2rem;

      textarea {
        padding: 0.6rem;
        resize: none;
        width: 100%;
        font-size: 1.2rem;
      }
      .input {
        margin: auto;
        padding: 0.6rem;
        width: 100%;
        grid-area: B;
      }

      .categories-filter {
        margin: auto;
        width: 100%;
        grid-area: A;
      }

      .description {
        grid-area: C;
      }

      .conseil {
        grid-area: D;
      }
    }

    button {
      font-weight: bold;
      font-size: 1.4rem;
      margin-bottom: 2rem;
      padding: 0.8rem 1.2rem;
      background-color: vars.$bg-primary-color;
      color: white;
      border-radius: 5px;
      transition: 0.3s;
    }

    button:hover {
      background-color: white;
      color: vars.$bg-primary-color;
      border: 2px solid vars.$bg-primary-color;
      text-decoration: underline;
    }
  }

  .fake-footer {
    height: 50px;
    width: 100%;
  }
}
// === MEDIA QUERY TABLET ===
@media only screen and (min-width: 599px) {
  .form-seed {
    h2 {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      padding: 4rem 2rem 2rem;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .fields-zone {
        padding: 0rem 2rem 2rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
          "A B"
          "C C"
          "D D";
        gap: 2rem 4rem;

        .input {
          max-width: 300px;
        }

        .categories-filter {
          max-width: 300px;
        }

        textarea {
          padding: 0.6rem;
          resize: none;
          width: 100%;
          margin: auto;
          height: 200px;
        }
      }
    }
  }
}
.cancelSeedModification {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding: 0.8rem 1.2rem;
  background-color: vars.$bg-delete-color;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}
.cancelSeedModification:hover {
  background-color: white;
  color: vars.$bg-delete-color;
  border: 2px solid vars.$bg-delete-color;
  text-decoration: underline;
}


@media only screen and (min-width: 1025px) {
  .form-seed {

    form {

      .fields-zone {
        padding: 2rem 2rem 2rem;

        grid-template-areas:
          "A B"
          "C D";

        textarea {
          height: 360px;
          margin-bottom: 2rem;
        }    
      }
    }
  }
}
