// === IMPORT CSS ===
@use 'src/styles/vars';

.connexion-input {
  display: flex;
  flex-direction: column;
  
  h3 {
    text-align: center;
    font-weight: bold;
    font-size: vars.$page-title-mobile;
    margin-top: vars.$page-title-mag-top;
    margin-bottom: 4rem;
    color: vars.$text-primary-color;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    input {
      font-size: 1rem;
      width: 80%;
      margin: auto;
      padding: 0.4rem;
      background-color: vars.$bg-input-color;
      border: 1px solid vars.$border-input;
      border-radius: 4px;
      margin-bottom: 1.2rem;
    }

    button {
      margin: auto;
      margin-top: 2rem;
      background-color: vars.$bg-primary-color;
      font-weight: bold;
      font-size: 1.4rem;
      margin-bottom: 2rem;
      padding: 0.8rem 1.2rem;
      color: vars.$text-btn-before-hover-color;
      border-radius: 5px;
      transition: 0.3s;
    }

    button:hover {
      background-color: vars.$bg-btn-hover-color;
      color: vars.$bg-primary-color;
      text-decoration: underline;
      border: 2px solid vars.$bg-primary-color;
    }
  }

  .connection-not-confirmed-message {
    color: vars.$bg-delete-color;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    margin: auto;
    background-color: vars.$bg-btn-hover-color;
    width: 20%;
  }

  .connection-confirmed-message {
    color: vars.$bg-primary-color;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    margin: auto;
    background-color: vars.$bg-btn-hover-color;
    width: 20%;
  }

  .forget-password {
    text-align: center;
    margin-top: 0.3rem;
    color: vars.$link-before-hover-color;
    font-size: 1rem;
    text-decoration: underline;
  }

  .forget-password:hover {
    text-decoration: underline;
    color: vars.$link-hover-color;
  }

  .inscription {
    text-align: center;
    margin-top: 2rem;
    color: vars.$text-primary-color;
    font-size: 1.2rem;
  }

  .subscribe {
    color: vars.$link-before-hover-color;
    font-weight: bold;
    text-decoration: underline;
    transition: 0.2s;
    font-size: 1.2rem;
    display: block;
  }
  .subscribe:hover {
    color: vars.$link-hover-color;
    font-weight: bold;
  }
}

.field-connexion {
  .validate-message {
    color: vars.$text-primary-color;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;

    input {
      font-size: 1rem;
      width: 40%;
      margin: auto;
      padding: 0.4rem;
      background-color: vars.$bg-input-color;
      border: 1px solid vars.$border-input;
      border-radius: 4px;
      margin-bottom: 1.2rem;
      margin-top: 2.5rem;
    }

    button {
      margin: auto;
      margin-top: 0.3rem;
      background-color: vars.$bg-primary-color;
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 2rem;
      padding: 0.8rem 1.2rem;
      color: vars.$text-btn-before-hover-color;
      border-radius: 5px;
      transition: 0.3s;
    }

    button:hover {
      background-color: vars.$bg-btn-hover-color;
      color: vars.$bg-primary-color;
      text-decoration: underline;
      border: 2px solid vars.$bg-primary-color;
    }
  }
  .messageMailRedirect {
    font-size: 1.5rem;
    color: vars.$text-primary-color;
    padding: 10px;
    line-height: 1.5rem;
    margin: auto;
    margin-top: 2.5rem;
    text-align: center;
  }

  .navlink_redirect_loggin {
    display: block;
  }

  .navlink_redirect_loggin {
    font-size: 1.2rem;
    text-align: center;
    color: vars.$bg-primary-color;
    text-decoration: underline;
  }
  .annuler-reinitialisation-mdp {
    text-align: center;
    margin-top: 1.8rem;
    color: vars.$link-before-hover-color;
    font-size: 1.2rem;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      font-size: 1.6rem;
      color: vars.$link-hover-color;
    }
  }
}


@media only screen and (min-width: 599px) {
  .connexion-input {
    form {

      input {
        width: 40%;
      }
    }
  }
}
// === MEDIA QUERY DESKTOP ===
@media only screen and (min-width: 1025px) {
  .connexion-input {
    margin-top: 3rem;

    h3 {
      font-size: vars.$page-title-desktop;
      margin-bottom: 4rem;
    }

    .forget-password {
      font-size: 1.2rem;
    }

    .inscription {
      font-size: 1.5rem;
    }

    .subscribe {
      font-size: 1.5rem;
      display: inline-block;
    }
  }

  .field-connexion {

    

    .annuler-reinitialisation-mdp {
      margin-top: 1rem;
      font-size: 1.5rem;
    }

    .annuler-reinitialisation-mdp:hover {
      cursor: pointer;
      font-size: 1.6rem;
    }

    .messageMailRedirect {
      font-size: 1.8rem;
    }
  }
}
