// === IMPORT CSS ===
@use 'src/styles/vars';

.connexion-input {
  display: flex;
  flex-direction: column;

  h3 {
    text-align: center;
    font-weight: bold;
    font-size: vars.$page-title-mobile;
    margin-top: vars.$page-title-mag-top;
    margin-bottom: 2rem;
    color: vars.$text-primary-color;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      font-size: 1rem;
      width: 40%;
      margin: auto;
      padding: 0.4rem;
      background-color: vars.$bg-input-color;
      border: 1px solid vars.$border-input;
      border-radius: 4px;
      margin-bottom: 1.2em;
    }

    button {
      margin: auto;
      margin-top: 0.3rem;
      background-color: vars.$bg-primary-color;
      font-weight: bold;
      font-size: 1.4rem;
      margin-bottom: 2rem;
      padding: 0.8rem 1.2rem;
      color: vars.$text-btn-before-hover-color;
      border-radius: 5px;
      transition: 0.3s;
    }

    button:hover {
      background-color: vars.$bg-btn-hover-color;
      color: vars.$bg-primary-color;
      text-decoration: underline;
      border: 2px solid vars.$bg-primary-color;
    }
  }

  .connection-not-confirmed-message {
    color: vars.$bg-delete-color;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    margin: auto;
    background-color: vars.$bg-btn-hover-color;
    width: 20%;
  }

  .connection-confirmed-message {
    color: vars.$bg-primary-color;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    margin: auto;
    background-color: vars.$bg-btn-hover-color;
    width: 20%;
  }

  .forget-password {
    text-align: center;
    margin-top: 0.3rem;
    color: vars.$link-before-hover-color;
    font-size: 1.2rem;
    text-decoration: underline;
  }

  .forget-password:hover {
    text-decoration: underline;
    color: vars.$link-hover-color;
  }

  .inscription {
    text-align: center;
    margin-top: 2rem;
    color: vars.$text-primary-color;
    font-size: 1.2em;
  }

  .subscribe {
    color: vars.$link-before-hover-color;
    font-weight: bold;
    text-decoration: underline;
    transition: 0.2s;
    font-size: 1em;
  }
  .subscribe:hover {
    color: vars.$link-hover-color;
    font-weight: bold;
  }
}

.field-connexion {
  .validate-message {
    color: vars.$text-primary-color;
    text-align: center;
    margin-top: 2.5rem;
    font-size: .7rem;
    display: flex;
    flex-direction: column;

    input {
      font-size: 1rem;
      width: 40%;
      margin: auto;
      padding: 0.4rem;
      background-color: vars.$bg-input-color;
      border: 1px solid vars.$border-input;
      border-radius: 4px;
      margin-bottom: 1.2em;
      margin-top: 2.5rem;
    }

    button {
      margin: auto;
      margin-top: 0.3rem;
      background-color: vars.$bg-primary-color;
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 2rem;
      padding: 0.8rem 1.2rem;
      color: vars.$text-btn-before-hover-color;
      border-radius: 5px;
      transition: 0.3s;
    }

    button:hover {
      background-color: vars.$bg-btn-hover-color;
      color: vars.$bg-primary-color;
      text-decoration: underline;
      border: 2px solid vars.$bg-primary-color;
    }
  }
  .messageMailRedirect {
    font-size: 1.5em;
    color: vars.$text-primary-color;
    padding: 10px;
    line-height: 1.5em;;
    margin: auto;
    margin-top: 2.5rem;
    text-align: center;
  }
  .navlink_redirect_loggin {
    font-size: 1.2em;
    text-align: center;
    color: vars.$bg-primary-color;
    text-decoration: underline;
  }
  .annuler-reinitialisation-mdp {
    text-align: center;
    margin-top: 1.8em;
    color: vars.$link-before-hover-color;
    font-size: 1.5rem;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      font-size: 1.6em;
      color: vars.$link-hover-color;
    }
  }
}

// === MEDIA QUERY DESKTOP ===
@media only screen and (min-width: 1025px) {
  .connexion-input {
    margin-top: 5rem;

    h3 {
      font-size: vars.$page-title-desktop;
    }

    .forget-password {
      font-size: 1.5rem;
    }
  
    .inscription {
      font-size: 1.5em;
    }
  
    .subscribe {
      font-size: 1.5em;
    }
  }

  .field-connexion {
    .annuler-reinitialisation-mdp {
      text-align: center;
      margin-top: 1rem;
    }

      .annuler-reinitialisation-mdp:hover {
        text-decoration: underline;
        cursor: pointer;
        font-size: 1.2em;
      }

      .messageMailRedirect {
          font-size: 1.8em;
        }
        .navlink_redirect_loggin {
          font-size: 1.2em;
        }
  }
}
