// === IMPORT CSS ===
@use 'src/styles/vars';

.page-profil {
  min-height: 100%;
  background-image: url('../../assets/markus-spiske-vrbZVyX2k4I-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-profil .footer-desktop {
  position: fixed;
  bottom: 0;
}
