.listContainer {
  position: relative;
}

.listContainer .list {
  background-color: #e4ecf1;
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 2rem;
  padding: 3rem 3rem 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.055);
          box-shadow: -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.055);
}

.listContainer .list .card {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.164);
          box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.164);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.listContainer .list .card img {
  display: block;
  width: 100%;
  max-height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}

.listContainer .list .card .content {
  padding: 0.5rem;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.listContainer .list .card .content__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.listContainer .list .card .content__description__category {
  font-weight: bold;
}

.listContainer .list .card .content__description__variety {
  color: #686868;
  font-weight: bold;
}

.listContainer .list .card .content__infos {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.listContainer .list .card .content__infos__pseudo {
  font-size: 1.2rem;
}

.listContainer .list .card .content__infos__pseudo:hover {
  text-decoration: underline;
}

.listContainer .list .card .content__infos__date {
  font-size: 0.9rem;
  color: #686868;
}

.listContainer .paginationBttns {
  position: absolute;
  bottom: 4.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.listContainer .paginationBttns a {
  padding: 0.2rem 0.6rem;
  margin: 0.3rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.listContainer .paginationBttns a:hover {
  color: white;
  background-color: #80af57;
}

.listContainer .paginationActive a {
  color: white;
  background-color: #4a6c2f;
}

.listContainer .card:hover {
  -webkit-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.295);
          box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.295);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media only screen and (min-width: 599px) {
  .listContainer .list {
    background-color: #e4ecf1;
    width: 90%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    border-top: 2px solid rgba(133, 150, 172, 0.582);
    border-left: 2px solid rgba(133, 150, 172, 0.623);
    border-right: 2px solid rgba(133, 150, 172, 0.623);
    padding: 2rem 2rem 9rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50px 50px 0 0;
    -webkit-box-shadow: -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.055);
            box-shadow: -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.055);
  }
  .listContainer .list .card img {
    height: 200px;
  }
  .listContainer .list .card .content {
    background-color: white;
    padding: 0.6rem;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
  }
  .listContainer .list .card .content h2 {
    font-weight: bold;
    padding: 0.4em;
  }
  .listContainer .list .card .content h3 {
    color: #686868;
    font-size: 0.8em;
    padding: 0.4rem;
  }
  .listContainer .list .card .content h4 {
    color: #afafaf;
    font-size: 0.6em;
    padding: 0.4rem;
  }
  .listContainer .paginationBttns {
    bottom: 6rem;
  }
  .listContainer .paginationBttns a {
    padding: 0.4rem 0.8rem;
    margin: 8px;
  }
}

@media only screen and (min-width: 1025px) {
  .listContainer {
    position: relative;
  }
  .listContainer .list {
    width: 80%;
    margin: auto;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 3rem;
    padding: 5rem 5rem 10rem;
    border-radius: 50px 50px 0 0;
  }
  .listContainer .list .card {
    font-size: 20px;
  }
  .listContainer .list .card img {
    height: 220px;
  }
}

@media only screen and (min-width: 1230px) {
  .listContainer {
    position: relative;
  }
  .listContainer .list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1640px) {
  .listContainer .list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=styles.css.map */