.listContainer {
    width: 100%;
    position: relative;
  

  .list {
    background-color: #e4ecf1;
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;

    padding: 3rem 3rem 8rem;

    align-items: center;

    box-shadow: -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.055);

    .card {
      width: 100%;

      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.164);

      transition: 0.3s;

      img {
        display: block;
        width: 100%;
        max-height: 170px;
        object-fit: cover;
      }

      .content {
        padding: 0.5rem;
        background-color: rgb(255, 255, 255);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);

        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &__description {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          font-size: 1.4rem;
          margin-bottom: 1rem;

          &__category {
            font-weight: bold;
          }

          &__variety {
            color: rgb(104, 104, 104);
            font-weight: bold;
          }
        }

        &__infos {
          text-align: right;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          &__pseudo {
            font-size: 1.2rem;
          }

          &__pseudo:hover {
            text-decoration: underline;
          }

          &__date {
            font-size: 0.9rem;
            color: rgb(104, 104, 104);
          }
        }
      }
    }
  }

  .paginationBttns {
    position: absolute;
    bottom: 1.8rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .paginationBttns a {
    padding: 0.2rem 0.6rem;
    margin: 0.3rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .paginationBttns a:hover {
    color: #80af57;
  }

  .paginationActive a {
    color: #4a6c2f;
    font-weight: bold;
    text-decoration: underline;
  }

  .card:hover {
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.295);
    transform: scale(1.05);
  }
}

@media only screen and (min-width: 599px) {
  .listContainer {
    .list {
      background-color: #e4ecf1;
      width: 90%;
      margin: auto;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      border-top: 2px solid rgba(133, 150, 172, 0.582);
      border-left: 2px solid rgba(133, 150, 172, 0.623);
      border-right: 2px solid rgba(133, 150, 172, 0.623);
      
      padding: 2rem 2rem 9rem;

      align-items: center;

      border-radius: 50px 50px 0 0;

      box-shadow: -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.055);

      .card {
        img {
          height: 200px;
        }

        .content {
          background-color: white;

          padding: 0.6rem;

          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);

          h2 {
            font-weight: bold;
            padding: 0.4em;
          }

          h3 {
            color: rgb(104, 104, 104);
            font-size: 0.8em;
            padding: 0.4rem;
          }

          h4 {
            color: rgb(175, 175, 175);
            font-size: 0.6em;
            padding: 0.4rem;
          }
        }
      }
    }

    .paginationBttns {
    }

    .paginationBttns a {
      padding: 0.4rem 0.8rem;
      margin: 8px;
    }
  }
}

// Desktop
@media only screen and (min-width: 1025px) {
  .listContainer {
    position: relative;

    .list {

      width: 80%;
      margin: auto;

      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 3rem;

      padding: 5rem 5rem 5rem;
      border-radius: 50px 50px 0 0;

      .card {
        font-size: 20px;

        img {
          height: 220px;
        }
      }
    }

    .paginationBttns {
    }
  }
}

@media only screen and (min-width: 1230px) {
  .listContainer {
    position: relative;

    .list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and (min-width: 1640px) {
  .listContainer {
    .list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
