@use 'src/styles/vars';

//CSS mobile first
.team-title {
  color: vars.$bgd-primary-color;
  font-size: 3em;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: auto;

  .photo-profil {
    width: 40%;
    margin-bottom: 20px;
  }

  .name {
    font-size: 2em;
    color: vars.$bgd-footer-color;
    margin-bottom: 10px;
  }
  .card-dev {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid vars.$bgd-footer-color;
    border-radius: 30px;
  }

  .role {
    font-size: 1.2em;
    background-color: white;
    border: none;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .socials-img {
    width: 50px;
    margin-right: 10px;

    &_github {
      width: 40px;
      background-color: black;
    }
    &_linkedIn {
      width: 50px;
    }

    &_twitter {
      width: 50px;
    }
  }
}

//Responsive design for desktop
@media screen and (min-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    .photo-profil {
      margin-bottom: 10px;
    }

    .card-dev {
      margin-right: 10px;
    }
  }
}
