// === IMPORT CSS ===
@use 'src/styles/vars';

.sign-in {
  height: 100%;
  background-image: url('../../assets/image/backgrounds/register-markus-spiske-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sign-in .footer-desktop {
  position: fixed;
  bottom: 0;
}
