// === VARS COLORS ===
$bg-primary-color: #4a6a2f;
$bg-footer-color: #173042;
$bg-delete-color: #bc1536;
$bg-confirm-validate-color: #f76300;
$bg-validate-color: #4a6a2f;
$bg-secondary-color: #cacaca;
$bg-light-list: #e4ecf1;
$bg-input-color: #e9ede6;
$bg-modal-color: #283844;
$card-category-color: #222222;
$card-pseudo-color: #222222;
$card-variety-color: #686868;
$card-date-color: #686868;
$scrollbar-color: #173042;
$border-input: #cccccc;
$text-primary-color: #222222;
$link-hover-color: #04a50c;
$link-before-hover-color: #173042;

// === VARS SIZE ===
$page-title-desktop: 2.5rem;
$page-title-mobile: 1.5rem;
$page-title-mag-top: 2rem;

// === BOX-SHADOW ===
$boxShadow-color: #0000004d;
