$bgd-primary-color: #4a6c2f;
$bgd-input-color: #e9ede6;
$border-input: rgb(204, 204, 204);
$bgd-footer-color: #173042;
$bgd-delete-color: #bc1536;
$bgd-validate-color: #f76300;
$page-title: 2.5rem;
$page-title-mag-top: 2rem; 
