// === IMPORT CSS ===
@use 'src/styles/vars';

.page-share-seed {
  height: 100%;
  background-image: url('../../assets/image/backgrounds/share-markus-spiske-YC2H1-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.page-share-seed .footer-desktop {
  position: fixed;
  bottom: 0;
}
