@use 'src/styles/vars';

.categories-filter {
  position: relative;


  select {
    width: 100%;
    font-size: 1rem;
    padding: 0.4rem;
    padding-left: 2.2rem;
    background-color: vars.$bg-input-color;
    border-radius: 4px;
    border: 1px solid vars.$border-input;
    text-align-last: center;
  }

  .faBars {
    position: absolute;
    left: 0.5rem;
    top: 0.4rem
  }
}

// Tablet
@media only screen and (min-width: 599px) {
  .categories-filter {
    min-width: 200px;
    margin-right: 2rem;
    
    select {
      font-size: 1.4rem;
    }

    .faBars {
      top: 0.65rem
    }
  }
}

// // desktop

// @media only screen and (min-width: 1025px) {
//   .categories-filter {
//   select {
//     font-size: 1.35rem;
//     min-width: 200px;
//   }

//   .faBars {
//     position: absolute;
//     left: 0.8rem;
//     top: 0.65rem
//   }
// }
// }

