@use 'src/styles/vars';

.categories-filter {
  position: relative;
  width: 100%;
  margin-bottom: 1.4rem;


  select {
    
    font-size: 1rem;
    padding: 0.4rem;
    width: 100%;
    padding-left: 2.2rem;
    background-color: vars.$bgd-input-color;
    border-radius: 4px;
    border: 1px solid vars.$border-input;
    text-align-last: center;
  }

  .faBars {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem
  }
}


// Tablet
@media only screen and (min-width: 620px) {
  .categories-filter {
    width: 45%;

    margin-bottom: 0;
  }
}
