// === IMPORT CSS ===
@use 'src/styles/vars';

.page-connexion {
  min-height: 100%;
  background-image: url('../../assets/image/backgrounds/connexion-markus-spiske-unsplash.jpg');
  background-size: cover;
  background-position: center;
}
.page-connexion .footer-desktop {
  position: fixed;
  bottom: 0;
}
