// === IMPORT CSS ===
@use 'src/styles/vars';

.page-connexion {
  height: 100%;
  background-image: url('../../assets/markus-spiske-p4lNiLlog8g-unsplash.jpg');
  background-size: cover;
  background-position: center;
}
.page-connexion .footer-desktop {
  position: fixed;
  bottom: 0;
}
