// === IMPORT CSS ===
@use 'src/styles/vars';

.email-confirmation-page {
  height: 100%;
  background-image: url("../../assets/image/backgrounds/emailconfirmation-markus-spiske-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .messageConfirmEmail {
    margin-top: 10rem;
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: vars.$text-btn-before-hover-color;
  }

  .link-to-connexion {
    display: block;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: vars.$text-btn-before-hover-color;
  }

  .link-to-connexion:hover {
    text-decoration: underline;
    color: vars.$link-hover-color;
  }
}

.email-confirmation-page .footer-desktop {
  position: fixed;
  bottom: 0;
}
