// === IMPORT CSS ===
@use 'src/styles/vars';

.container {
  display: flex;
  flex-direction: column;
  .accountUpdateButton {
    color: vars.$bgd-primary-color;
    font-weight: bold;
    text-align: center;
    background-color: white;
    width: 50%;
  }
  .messageDeleteConfirm {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 4rem;
  }
  h3 {
    text-align: center;
    font-weight: bold;
    font-size: vars.$page-title;
    margin-top: vars.$page-title-mag-top;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .signInput {
    display: flex;
    flex-direction: column;
  }

  input,
  p {
    font-size: 1rem;
    width: 80%;
    margin: auto;
    padding: 0.4rem;
    background-color: vars.$bgd-input-color;
    border: 1px solid vars.$border-input;
    border-radius: 4px;
    margin-bottom: 1.2em;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding-bottom: 5rem;
  }

  button {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
    background-color: vars.$bgd-primary-color;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
  }
  button:hover {
    color: vars.$bgd-primary-color;
    border: solid 2px vars.$bgd-primary-color;
    background-color: white;
    text-decoration: underline;
  }

  .btn-delete {
    background-color: vars.$bgd-delete-color;

    &--confirm {
      background-color: vars.$bgd-validate-color;
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 0.8rem 1.2rem;
      border-radius: 5px;
      transition: 0.3s;
    }
    &--confirm:hover {
      background-color: white;
      color: vars.$bgd-validate-color;
      border: solid 2px vars.$bgd-validate-color;
      text-decoration: underline;
    }
  }
  .btn-deconnexion {
    background-color: vars.$bgd-footer-color;
  }
  .btn-deconnexion:hover {
    color: vars.$bgd-footer-color;
    border: solid 2px vars.$bgd-footer-color;
    background-color: white;
    text-decoration: underline;
  }
  label {
    font-size: 0.8em;
    font-style: italic;
    line-height: 1.2em;
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
  }
}

// === MEDIA QUERY DESKTOP ===

@media screen and (min-width: 768px) {
  .container {
    .signInput,
    p {
      display: grid;
      grid-template-columns: repeat (2, 1fr);
      grid-template-rows: 3;
    }

    input:nth-child(1),
    p:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
      justify-self: center;
    }
    input:nth-child(2),
    p:nth-child(2) {
      grid-column: 1;
      grid-row: 2;
    }
    input:nth-child(3),
    p:nth-child(3) {
      grid-column: 1;
      grid-row: 3;
    }
    input:nth-child(4) {
      grid-column: 2;
      grid-row: 1;
    }
    input:nth-child(5) {
      grid-column: 2;
      grid-row: 2;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    label {
      font-size: 0.8em;
      font-style: italic;
    }
  }
}
