.profil {
  height: 100%;
}

.profil .footer-desktop {
  position: fixed;
  bottom: 0;
}

.sign-in {
  background-image: url('../../assets/markus-spiske-vrbZVyX2k4I-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
