@use 'src/styles/vars';

.navbar {
  font-size: 20px; // FontAwesome Icon Size

  width: 100%;

  position: sticky;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: vars.$bgd-footer-color;

  padding: 0.8rem 2.6rem;

}

.faUserAlt {
  color: #CACACA;
}



@media only screen and (min-width: 620px) {
  .footer {
    font-size: 26px; // FontAwesome Icon Size
  
    width: 100%;
  
    position: sticky;
    bottom: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10rem;
  
    background-color: vars.$bgd-footer-color;
  
    padding: 0.8rem 2.6rem;
  }
  
  .faUserAlt {
    color: #CACACA;
  }
}
