@use 'src/styles/vars';

.department-filter {
  position: relative;
  width: 100%;

  select {
    padding: 0.4rem;
    width: 100%;
    padding-left: 2.2rem;
    background-color: vars.$bgd-input-color;
    border-radius: 0 4px 4px 0;
    border: 1px solid vars.$border-input;
    text-align-last: center;
  }

  .faMapMarkerAlt {
    position: absolute;
    left: 0.5rem;
    top: 0.6rem;
  }
}
