@use 'src/styles/vars';

.containerTitle {
  display: flex;

  .headerDesktop {
    width: 50%;
    height: 130px;
    display: flex;
    align-items: center;
  
    background-color: vars.$bgd-primary-color;
  
    border-radius: 0 0 150px 0;
  
    border-bottom: 2px solid #4e5a53;
    border-right: 2px solid #4e5a53;
  
    padding: 1.4rem 3rem 1.4rem 0.8rem;
  
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.301);
  
    &__logo {
      margin-left: 1rem;
      width: 60px;
    }
  
    &__content {
      width: fit-content;
      color: white;
      margin-left: 1rem;
      text-align: left;
  
      &__title {
        // border: 2px solid rgb(0, 102, 255);
        font-size: 3rem;
        font-family: "Indie Flower", cursive;
  
        // margin-bottom: 0.6rem;
      }
  
      &__subtitle {
        // border: 2px solid rgb(204, 0, 255);
        margin-left: 5rem;
        font-size: 1.1rem;
        // width: fit-content;
        color: #cacaca;
      }
    }
  }
  .menuDesktop {
    width: 50%;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  
    .navbar_link {
      span {
        font-size: 0.4em;
        text-align: center;
        margin-top: 0.6rem;
      }

    .navbar_link--active {
      .faUserAlt {
        color: vars.$bgd-primary-color;
      }
    }
  
      .messagerie {
        position: relative;
      }
      .new-message-counter {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 25px;
        height: 25px;
        font-size: 1rem;
        color: white;
        font-weight: bold;
        background-color: red;
        border-radius: 50%;
        top: -35px;
        right: 5px;
      }
  
      .iconText {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
      }
    }
  }
  
  
  
}


