.team {
  height: 100%;
  background-image: url('../../assets/michael-dziedzic-0TPT2B2VsxU-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.team .footer-desktop {
  position: fixed;
  bottom: 0;
}
