// === IMPORT CSS ===
@use 'src/styles/vars';

.team {
  height: 100%;
  background-image: url('../../assets/image/backgrounds/team-michael-dziedzic-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.team .footer-desktop {
  position: fixed;
  bottom: 0;
}
