// === IMPORT CSS ===
@use 'src/styles/vars';

.my-seeds {
  width: 100%;
  margin: 2rem 0;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    text-align: center;
    font-weight: bold;
    font-size: vars.$page-title-desktop;
    margin-bottom: 2rem;
    margin-top: vars.$page-title-mag-top;
  }

  .no-seeds-message {
    text-align: center;
    font-size: 2rem;
    color: #909090;
  }

  &__list {
    width: 60%;
    border: 4px solid vars.$bgd-primary-color;
    background-color: #FFF;

    &__thead {
      font-size: 1.4rem;
      font-weight: bold;
      color: rgb(242, 243, 242);
      background-color: vars.$bgd-primary-color;

      &__row {
        &__th {
          padding: 0.5rem;
          border-right: 3px solid white;
        }

        &__th:last-child {
          border-right: none;
        }
      }
    }

    &__tbody {
      text-align: center;
      font-size: 1.2rem;

      &__row {
        width: 100%;
        border-bottom: 3px solid #cacaca;
        transition: 0.1s linear;

        .btn-delete-one-seed {
          background-color: rgb(182, 118, 0);
          color: white;
        }
        .btn-delete-one-seed:hover {
          background-color: white;
          color: rgb(182, 118, 0);
        }

        &__td {
          padding: 0.5rem;
          border: 3px solid #cacaca;
        }

        &__td:nth-child(1) {
          border-top: none;
        }
        &__td:nth-child(2) {
          border-top: none;
        }
        &__td:nth-child(3) {
          border-top: none;
        }
      }

      &__row:first-child {
        border-top: none;
      }

      &__row:last-child {
        border-bottom: none;
      }

      &__row:hover {
        background-color: rgb(105, 139, 105);
        color: white;
        cursor: pointer;
      }
    }
  }
}
