@use 'src/styles/vars';

//CSS for mobile first

.seeds-container {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 1.8em;
    margin-top: 2em;
    margin-bottom: 1.2em;
    text-align: center;
  }

  .seeds-lists {
    display: flex;
    flex-direction: column;
  }

  .list {
    width: 85%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    &-menu {
      background-color: vars.$bgd-primary-color;
      color: #FFF;

      &_item {
        font-size: 1.3em;
      }
    }
  }
  .detail-list {
    width: 85%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;

    &_item {
      font-size: 1.2em;
    }

    .detail-category,
    .detail-variety {
      width: 50%;
      text-align: center;
    }
  }


}
